---
layout: handbook-page-toc
title: "Software Engineer in Test Career Framework"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Software Engineer in Test Career Framework

<%= partial("handbook/engineering/career-development/matrix/engineering/quality/_quality_career_matrix_nav.erb") %>

These are the expected competencies of the Backend Engineer, Engineering Productivity team members at GitLab.

### Intermediate

* [Backend Engineer](/handbook/engineering/career-development/matrix/engineering/quality/software-engineer-in-test/intermediate/)

### Senior

* [Backend Engineer](/handbook/engineering/career-development/matrix/engineering/quality/software-engineer-in-test/senior/)

### Staff

* [Backend Engineer](/handbook/engineering/career-development/matrix/engineering/quality/software-engineer-in-test/staff/)
